@charset "UTF-8";
/* CSS Document */

html, body {
    background: url(../images/blogBg.jpg) repeat;
    margin: 0;
	height: 100%;
	width: 100%;
}

/*-- Headers --*/
h1, h2, h3, h4 { 
	font-weight: bold;
	font-family: Helvetica;
	margin: 0;
}

h2.side {
	text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
	margin-left: 15px ;
	color:#666;
}

/*-- Links --*/
a {
	text-decoration: none;
	color: #666;
	background-color: transparent;
}

a:visited {
	color: #666;
}

a:hover {
	font-weight: bold;
}

#wrapper {
	margin: auto;
	width: 100%;
}

#leftNav {
    background: url(../images/NavBG.jpg) repeat-y;
    width: 337px;
    height: 100%;
    position: absolute;
}

#topLeftImg {
    vertical-align: top;
    width: 337px;
    height: 211px;
}

#menu_wrapper {
	border-radius: 7px;
    border: #666 solid 1px;
    background:#fff;
    width: 315px;
    height: auto;
	margin: 5px 0 20px 10px;
}

#menu_wrapper ul.menu_list li{
	list-style: none;
	padding: 3px 10px 3px 40px;
	margin: 5px;
	background: url(../images/user.png) no-repeat;
}

#top_bar {
	background: url(../images/topBar.png) repeat-x;
	width: 100%;
	height: 50px;
	position: relative;
}

#container {
	float: left;
	margin: 63px 0 0 400px;
	width: 900px;
	height: auto;
}

#content {
	border-radius:7px;
	border: #666 solid 1px;
	background-color:#FFF;
	width: 100%;
	padding: 60px 40px 60px 40px;
}